<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Self-Archive</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body class="start">
  <form action="" method="post">
        <header class="top-banner">
        <h1>추억 서랍</h1>
        <br>
        <h2>대화를 통해 나를 기록해보세요</h2>
        <br>
        <hr>
      </header>
    <section class="container">

      <article class="video-container">
  
        <div class="video">
          <video src="http://jooyeong/pythonanywhere.com/static/video/video.mp4" controls></video>
        </div>
  
        <div class="subtitle">
          <div class="scroll-area">
            안녕하세요,<br>
            광주과학기술원 Soft Computing & Interaction (SCI) 연구실 노여경, 오동익, 강우진 연구원입니다.<br>
            저희 연구팀은 ‘노인들을 대상으로 기억 회상 챗봇 디자인 연구’를 진행하고 있습니다.<br><br>
  
            <!-- <br><br>
            실험 절차는 다음과 같습니다.<br>
            1. <b>'유물 해설 난이도 평가'</b>를 통해, 농인이 생각하는 현재 박물관에서 제공되는 해설의 난이도를 파악하고자 합니다.<br>
            2. <b>'챗봇 사용 실험'</b>을 통해, 농인이 챗봇에게 주로 묻는 질문 데이터를 수집하고, 질문 유형 및 경향성을 파악합니다.<br>
            추가적으로, <b>'국어 문해력 평가'</b>와 <b>'기본 설문조사'</b>를 통해 연구참여자의 기본 인구 통계를 파악하고자 합니다.<br><br>
  
            양질의 연구를 위해 모든 실험 과정에 대하여 성의껏 답변해주시길 부탁드립니다.<br>
            감사합니다. -->
          </div>
        </div>
      </article>
  
    
    </section>
    <button type="button" class="start" style="width: 30%;" onclick="location.href='join.html';">다음</button>
  </form>
  
  <footer class="fixed">@ Soft Computing & Interaction Lab. | GIST</footer>
</body>
</html>