<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Self-Archive</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body class="start">
  <form action="" method="post">
    <header>
        <h1 style="padding-top: 0px; margin:0px">추억 서랍</h1>
        <br>
        <h2 style="padding-bottom:20px;">대화를 통해 나를 기록해보세요</h2>
      </header>

    <br><br>
    <hr>
    <br><br><br><br><br><br><br><br><br><br>
          <input type="text" name="username" placeholder="이름 : 홍길동"/>
          <input type="text" name="username" placeholder="생년월일 : 960210"/>
          <br><br><br><br>
          <button type="button" style="width:30%" onclick="location.href='index.html';">로그인 하기</button>

  </form>
  <footer class="fixed">@ Soft Computing & Interaction Lab. | GIST</footer>
</body>
</html>
