<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Self-Archive</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  <div class="login">
    <form action="" method="post">
        <h1 style="padding-top: 100px;">추억 서랍</h1>
        <br>
        <h2 style="padding-bottom:50px;">대화를 통해 나를 기록해보세요</h2>
        <br>
        <hr>
        <br><br>
    </form>
  </div>
<div class="wrap">
  <section class="container">
    <article class="task-container">
      <h2 style="padding-bottom: 10px;">원하는 작업을 선택해주세요.</h2>
      <div class="task-choice">
        <a href="task1.html" class="link-task1", >
          <dl>
            <dt>나를 맞춰봐!</dt>
            <dd>나에 관한 100문 100답</dd>
            <!-- <dd></dd> -->
          </dl>
        </a>
        <a href="task2.html" class="link-task2">
          <dl>
            <dt>추억 등록하기</dt>
            <dd>사진과 함께 추억을 기록해보아요</dd>
            <!-- <dd>(총 6개 문제)</dd> -->
          </dl>
        </a>
        <a href="task3.html" class="link-task3">
          <dl>
            <dt>오늘 하루일기</dt>
            <dd>매일매일 기분을 기록해보아요</dd>
            <!-- <dd>(총 6개 문제)</dd> -->
          </dl>
        </a>
        
        <a href="task4.html" class="link-task4" style="margin-top: 40px;">
          <dl>
            <dt>회상 하기</dt>
            <dd>대화를 통해 퀴즈도 풀고, 기억도 회상하고</dd>
            <!-- <dd>(총 6개 문제)</dd> -->
          </dl>
        </a>
      </div>
    </article>
  </section>
</div>
  <footer>@ Soft Computing & Interaction Lab. | GIST</footer>
</body>
</html>