<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Self-Archive</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<div class="wrap">
  <header>
    <h1 class="logo1"><a href="#">나를 맞춰봐!</a></h1>
    <h2 class="page-title1">나에 관한 100문 100답</h2>
  </header>
  <section class="container">
    <div class="page-control1">
      <a href="#" class="link-prev">
        <span>이전</span>
        <i class="material-icons">chevron_left</i>
        
      </a>
      <div class="paging">1/10</div>
      <a href="#" class="link-next">
        <span>다음</span>
        <i class="material-icons">chevron_right</i>
      </a>
    </div>
    <div class="flex">
    </div>
  </section>
</div>
  <!-- <footer>@ Soft Computing & Interaction Lab. | GIST</footer> -->
</body>
</html>